In [1]:
import pandas as pd

adding columns

In [11]:
data = {
    "name":['yash','ajay','suraj','kiran','anand','nandini','aadivik'],
    "age":[17,45,25,42,28,17,1],
    'salary':[1000,70000,75000,10000,55000,2000,600],
    "performance":[70,95,98,98,90,80,5]
}

df = pd.DataFrame(data)
# adding colums by assign
df["bonus"] = df["salary"]*0.1
print(df)

#inserting column using insert function 
#we  can add any where using this
print(" ")
print('inserting')
df.insert(0,"family id",[5,1,4,2,3,8,7])
print(df)

      name  age  salary  performance   bonus
0     yash   17    1000           70   100.0
1     ajay   45   70000           95  7000.0
2    suraj   25   75000           98  7500.0
3    kiran   42   10000           98  1000.0
4    anand   28   55000           90  5500.0
5  nandini   17    2000           80   200.0
6  aadivik    1     600            5    60.0

inserting
   family id     name  age  salary  performance   bonus
0          5     yash   17    1000           70   100.0
1          1     ajay   45   70000           95  7000.0
2          4    suraj   25   75000           98  7500.0
3          2    kiran   42   10000           98  1000.0
4          3    anand   28   55000           90  5500.0
5          8  nandini   17    2000           80   200.0
6          7  aadivik    1     600            5    60.0

# updating values in a data

In [18]:
data = {
    "name":['yash','ajay','suraj','kiran','anand','nandini','aadivik'],
    "age":[17,45,25,42,28,17,1],
    'salary':[1000,70000,75000,10000,55000,2000,600],
    "performance":[70,95,98,98,90,80,5]
}

df = pd.DataFrame(data) 
df.loc[6,'salary']=700
print(df)

# updating salary by 10% who have 90+ performance score
print("salary increased ny 10%")
df['salary'] = df['salary']*1.1
print(df)

      name  age  salary  performance
0     yash   17    1000           70
1     ajay   45   70000           95
2    suraj   25   75000           98
3    kiran   42   10000           98
4    anand   28   55000           90
5  nandini   17    2000           80
6  aadivik    1     700            5
salary increased ny 10%
      name  age   salary  performance
0     yash   17   1100.0           70
1     ajay   45  77000.0           95
2    suraj   25  82500.0           98
3    kiran   42  11000.0           98
4    anand   28  60500.0           90
5  nandini   17   2200.0           80
6  aadivik    1    770.0            5

# deleting rows and columns

In [2]:
data = {
    "name":['yash','ajay','suraj','kiran','anand','nandini','aadivik'],
    "age":[17,45,25,42,28,17,1],
    'salary':[1000,70000,75000,10000,55000,2000,600],
    "performance":[70,95,98,98,90,80,5]
}

df = pd.DataFrame(data) 
print('deleting a column')
#df.drop(columns=['performance'], inplace=True)
#print(df)

print("deleting multple columns")
df.drop(columns=['performance' , 'age'], inplace=True)
print(df)

deleting a column
deleting multple columns
      name  salary
0     yash    1000
1     ajay   70000
2    suraj   75000
3    kiran   10000
4    anand   55000
5  nandini    2000
6  aadivik     600


# missing data

In [11]:
data = {
    "name":['yash','ajay','suraj','kiran','anand','nandini','aadivik'],
    "age":[17,45,25,42,28,17,1],
    'salary':[1000,70000,75000,10000,55000,2000,600],
    "performance":[None,95,98,98,90,80,None]
}

df = pd.DataFrame(data) 
print(df.isnull())
#this return if data is there is false
print(df.isnull().sum())
#this prints how many places are  empty

    name    age  salary  performance
0  False  False   False         True
1  False  False   False        False
2  False  False   False        False
3  False  False   False        False
4  False  False   False        False
5  False  False   False        False
6  False  False   False         True
name           0
age            0
salary         0
performance    2
dtype: int64

# handiling the missing data

In [10]:
data = {
    "name":['yash','ajay','suraj','kiran','anand',None,'aadivik'],
    "age":[17,45,25,42,28,17,1],
    'salary':[1000,70000,75000,10000,55000,2000,None],
    "performance":[70,95,98,98,90,80,None]
}

df = pd.DataFrame(data) 
#df.dropna(axis=0,inplace=True)# this deletes the empty data row or column
#print(df)

# df.fillna(0,inplace=True) this fills up the empty data
# print(df)


df["performance"].fillna(df['performance'].mean(), inplace=True)
df['salary'].fillna(df['salary'].mean(), inplace=True)
print(df)

      name  age   salary  performance
0     yash   17   1000.0         70.0
1     ajay   45  70000.0         95.0
2    suraj   25  75000.0         98.0
3    kiran   42  10000.0         98.0
4    anand   28  55000.0         90.0
5     None   17   2000.0         80.0
6  aadivik    1  35500.0         88.5

C:\Users\Anand Kumar\AppData\Local\Temp\ipykernel_28228\2096802469.py:16: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["performance"].fillna(df['performance'].mean(), inplace=True)
C:\Users\Anand Kumar\AppData\Local\Temp\ipykernel_28228\2096802469.py:17: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['salary'].fillna(df['salary'].mean(), inplace=True)

# interpolation - missing values me estimeted value

In [10]:
data = {
    "name":['yash','ajay','suraj','kiran','anand','nandini','aadivik'],
    "age":[17,45,25,42,28,None,1],
    'salary':[1000,70000,75000,10000,55000,2000,600],
    "performance":[None,95,98,98,90,80,5]
}

df = pd.DataFrame(data) 
#linear
#polynomial
#time (methods pf filling empty data)
df.interpolate(method='linear', axis=0, inplace=True)
print(df)

      name   age  salary  performance
0     yash  17.0    1000          NaN
1     ajay  45.0   70000         95.0
2    suraj  25.0   75000         98.0
3    kiran  42.0   10000         98.0
4    anand  28.0   55000         90.0
5  nandini  14.5    2000         80.0
6  aadivik   1.0     600          5.0

C:\Users\Anand Kumar\AppData\Local\Temp\ipykernel_4348\1190760767.py:12: FutureWarning: DataFrame.interpolate with object dtype is deprecated and will raise in a future version. Call obj.infer_objects(copy=False) before interpolating instead.
  df.interpolate(method='linear', axis=0, inplace=True)

# sorting and aggregation

In [4]:
# sorting data in 1 column
data = {
    "name":['yash','ajay','suraj','kiran','anand','nandini','aadivik'],
    "age":[17,45,25,42,28,17,1],
    'salary':[1000,70000,75000,10000,55000,2000,600],
    "performance":[70,95,98,98,90,80,5]
}

df = pd.DataFrame(data) 
# df.sort_values(by="age",ascending=True,inplace=True)
# print(df)

# sorting multiple columns
df.sort_values(by = ['age','salary'], ascending=True, inplace=True)
print(df)
print("","printing avg salaary")
# agreegating and summaary
avg_salary = df["salary"].mean()
print(avg_salary)

      name  age  salary  performance
6  aadivik    1     600            5
0     yash   17    1000           70
5  nandini   17    2000           80
2    suraj   25   75000           98
4    anand   28   55000           90
3    kiran   42   10000           98
1     ajay   45   70000           95
 printing avg salaary
30514.285714285714

# grouping and agreegating

In [9]:
data = {
    "name":['yash','ajay','suraj','kiran','anand','nandini','aadivik'],
    "age":[17,45,25,42,28,17,1],
    'salary':[1000,70000,75000,10000,55000,2000,600],
}
df=pd.DataFrame(data)
grouped = df.groupby("age")["salary"].sum()
print(grouped)

# for multiple columns
grouped = df.groupby(['age','name'])['salary'].sum()
print(grouped)

age
1       600
17     3000
25    75000
28    55000
42    10000
45    70000
Name: salary, dtype: int64
age  name
1    aadivik      600
17   nandini     2000
     yash        1000
25   suraj      75000
28   anand      55000
42   kiran      10000
45   ajay       70000
Name: salary, dtype: int64

# merging and joining

In [20]:
df_customer = pd.DataFrame({
    'customer id':[1,2,3],
    'name':['yash','ajay','suraj']
})

df_order = pd.DataFrame({
    "customer id": [1,2,4],
    "order amount": [250,350,500]
})

print("merging two data")
df_merged = pd.merge(df_customer, df_order,on='customer id', how="inner")
print(df_merged)

df_merged = pd.merge(df_customer, df_order,on='customer id', how="outer")
print(df_merged)

df_merged = pd.merge(df_customer, df_order,on='customer id', how="left")
print(df_merged)

df_merged = pd.merge(df_customer, df_order,on='customer id', how="right")
print(df_merged)

#df_merged = pd.merge(df_customer, df_order,on='customer id', how="cross")
#print(df_merged)

merging two data
   customer id  name  order amount
0            1  yash           250
1            2  ajay           350
   customer id   name  order amount
0            1   yash         250.0
1            2   ajay         350.0
2            3  suraj           NaN
3            4    NaN         500.0
   customer id   name  order amount
0            1   yash         250.0
1            2   ajay         350.0
2            3  suraj           NaN
   customer id  name  order amount
0            1  yash           250
1            2  ajay           350
2            4   NaN           500

concatetion

In [23]:
df_customer1 = pd.DataFrame({
    'customer id':[1,2,3],
    'name':['yash','ajay','suraj']
})

df_customer2 = pd.DataFrame({
    'customer id':[4,5,6],
    'name':['aadivik','anand','kiran']
})
# verticall for horizontal put axis=1
df_concate = pd.concat([df_customer1, df_customer2], axis=0,ignore_index=True)
print(df_concate)

   customer id     name
0            1     yash
1            2     ajay
2            3    suraj
3            4  aadivik
4            5    anand
5            6    kiran

## here we are doe with two librariries now we will go for matplotlip and seaborn