In [2]:
import pandas as pd

### read data from a csv file into data frame

In [4]:
df = pd.read_csv("sales_data_sample.csv", encoding= "latin1")

print(df.head())
# to read top 5 and bottom 5 column we use head or tail inbuilt ffunction

   ORDERNUMBER  QUANTITYORDERED  PRICEEACH  ORDERLINENUMBER    SALES  \
0        10107               30      95.70                2  2871.00
1        10121               34      81.35                5  2765.90
2        10134               41      94.74                2  3884.34
3        10145               45      83.26                6  3746.70
4        10159               49     100.00               14  5205.27

         ORDERDATE   STATUS  QTR_ID  MONTH_ID  YEAR_ID  ...  \
0   2/24/2003 0:00  Shipped       1         2     2003  ...
1    5/7/2003 0:00  Shipped       2         5     2003  ...
2    7/1/2003 0:00  Shipped       3         7     2003  ...
3   8/25/2003 0:00  Shipped       3         8     2003  ...
4  10/10/2003 0:00  Shipped       4        10     2003  ...

                    ADDRESSLINE1  ADDRESSLINE2           CITY STATE  \
0        897 Long Airport Avenue           NaN            NYC    NY
1             59 rue de l'Abbaye           NaN          Reims   NaN
2  27 rue du Colonel Pierre Avia           NaN          Paris   NaN
3             78934 Hillside Dr.           NaN       Pasadena    CA
4                7734 Strong St.           NaN  San Francisco    CA

  POSTALCODE COUNTRY TERRITORY CONTACTLASTNAME CONTACTFIRSTNAME DEALSIZE
0      10022     USA       NaN              Yu             Kwai    Small
1      51100  France      EMEA         Henriot             Paul    Small
2      75508  France      EMEA        Da Cunha           Daniel   Medium
3      90003     USA       NaN           Young            Julie   Medium
4        NaN     USA       NaN           Brown            Julie   Medium

[5 rows x 25 columns]

how to save any file

In [12]:
data = {
    "name":['p1','p2','p3'],
    "age":[10,20,30],
    "city":['mumbai','pune','thane']
}
df = pd.DataFrame(data)
print(df)

df.to_json("outputfile.json", index=False)
# saves the data in the files we want

  name  age    city
0   p1   10  mumbai
1   p2   20    pune
2   p3   30   thane

summary of data like how many rows, columns,datatypes , etc

In [4]:
df = pd.read_json("outputfile.json")

print(df.info())

<class 'pandas.core.frame.DataFrame'>
Index: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   name    3 non-null      object
 1   age     3 non-null      int64
 2   city    3 non-null      object
dtypes: int64(1), object(2)
memory usage: 96.0+ bytes
None

describe a data and its statisctics

In [9]:
df = pd.read_json("outputfile.json")
print(df)
print("")
print('describing the data')
print(df.describe())
print('shape of the data', df.shape)
print("names of the columns", df.columns)

  name  age    city
0   p1   10  mumbai
1   p2   20    pune
2   p3   30   thane

describing the data
        age
count   3.0
mean   20.0
std    10.0
min    10.0
25%    15.0
50%    20.0
75%    25.0
max    30.0
shape of the data (3, 3)
names of the columns Index(['name', 'age', 'city'], dtype='object')

selecting specific colums,rows and combing multiple conditions

In [15]:
data = {
    "name":['yash','ajay','suraj','kiran','anand','nandini','aadivik'],
    "age":[17,45,25,42,28,17,1],
    'salary':[1000,70000,75000,10000,55000,2000,600],
    "performance score":[70,95,98,98,90,80,5]
}

df = pd.DataFrame(data)
print(df)
# printing single column in  series
print("printing a single column")
name = df["name"]
print(name)
# selecting multiple columns
print("printing multiple column")
subset = df[['name', 'salary']]
print(subset)

      name  age  salary  performance score
0     yash   17    1000                 70
1     ajay   45   70000                 95
2    suraj   25   75000                 98
3    kiran   42   10000                 98
4    anand   28   55000                 90
5  nandini   17    2000                 80
6  aadivik    1     600                  5
printing a single column
0       yash
1       ajay
2      suraj
3      kiran
4      anand
5    nandini
6    aadivik
Name: name, dtype: object
printing multiple column
      name  salary
0     yash    1000
1     ajay   70000
2    suraj   75000
3    kiran   10000
4    anand   55000
5  nandini    2000
6  aadivik     600

filtering rows

In [29]:
data = {
    "name":['yash','ajay','suraj','kiran','anand','nandini','aadivik'],
    "age":[17,45,25,42,28,17,1],
    'salary':[1000,70000,75000,10000,55000,2000,600],
    "performance score":[70,95,98,98,90,80,5]
}

df = pd.DataFrame(data)
print(df)

high_salary = df[df['salary']>50000]
print(high_salary)  

#filtering rows having salary>50000 and age>30
print("filtered rows")
filtered = df[(df['age']>30)&(df['salary']>50000)]
print(filtered)

# for any conditions to be true we use or
print("people age above  30 or salary above 50k")
filtered = df[(df['age']>30)|(df['salary']>50000)]
print(filtered)

      name  age  salary  performance score
0     yash   17    1000                 70
1     ajay   45   70000                 95
2    suraj   25   75000                 98
3    kiran   42   10000                 98
4    anand   28   55000                 90
5  nandini   17    2000                 80
6  aadivik    1     600                  5
    name  age  salary  performance score
1   ajay   45   70000                 95
2  suraj   25   75000                 98
4  anand   28   55000                 90
filtered rows
   name  age  salary  performance score
1  ajay   45   70000                 95
people age above  30 or salary above 50k
    name  age  salary  performance score
1   ajay   45   70000                 95
2  suraj   25   75000                 98
3  kiran   42   10000                 98
4  anand   28   55000                 90